<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <link rel="stylesheet" href="/styles/sidebar.css">
     <link rel="stylesheet" href="/styles/add_student.css">
     <title>Add Batch | IIITL Fees</title>
</head>

<body>

     <%- include("./partials/sidebar") %>

          <div class="home-section">
               <%- include("./partials/navbar") %>
                    <div class="main-section">
                         <div class="bottom">
                              <div class="section-title">Add New Batch</div>
                              <form action="/add_student" method="POST">
                                   <div class="form">

                                        <div>
                                             <label for="branch">Branch Name</label>
                                             <input type="text" name="branch_name" class="branch" id="branch"
                                                  placeholder="Eg: IT 2020">
                                        </div>

                                        <div>
                                             <label for="strength">Batch Strength</label>
                                             <input type="number" name="batch_strength" id="batch_strength"
                                                  placeholder="Enter batch strength">
                                        </div>

                                        <div>
                                             <label for="roll_prefix">Roll Prefix</label>
                                             <input type="string" id="roll_prefix" name="roll_prefix"
                                                  placeholder="Eg: lit20200">
                                        </div>

                                        <div class="formButton">
                                             <input type="reset" class="resetbtn">
                                             <input type="submit" value="Submit" class="submitbtn">
                                        </div>
                                   </div>

                              </form>
                         </div>
                    </div>
          </div>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
               integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
               crossorigin="anonymous"></script>
          <script src="/scripts/sidebar.js"></script>
</body>

</html>