@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Poppins:wght@400;600;700&display=swap');

:root {
    --header-height: 3.5rem;

    /* colors */
    --first-color: #003b68;
    --first-color-alt: #004981;
    --first-color-send: #016bbb;
    --title-color: #161212;
    --text-color: #5B5757;
    --text-color-light: #8F8A8A;
    --body-color: #FEFBFB;
    --container-color-: #FFF;

    /* font */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /* font weight */
    --font-semi-bold: 600;
    --font-bold: 700;

    /* margins */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 2rem 0 1rem;
}

.section-title,
.section-title-center {
    font-size: var(--h2-font-size);
    margin: 0 20px 20px 20px;
    color: #13005A;
    padding: 0 0 0 2px;
    border-bottom: 2px solid #C8DDFF;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #537FE7;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}



.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #fff;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: black;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar img {
    opacity: 0;
}

.sidebar.open img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    opacity: 1;
}

/* .sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
  }
  .sidebar.open .bx-search:hover{
    background: #1d1b31;
    color: #FFF;
  }
  .sidebar .bx-search:hover{
    background: #FFF;
    color: #11101d;
  } */

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #E5EFFF;
    margin: 3px 0 3px 0;
}

.sidebar li a:hover {
    background: #C8DDFF;
}

/* .sidebar li .search {
    background: #fff;
}

.sidebar li .search .links_name,
.sidebar li .search i {
    color: black;
} */

.sidebar li a .links_name {
    color: black;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: black;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #3760c2;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #3760c2;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
    color: #fff;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
    color: #fff;
}


.home-section {
    position: relative;
    background: #E5EFFF;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.main-title {
    background: #C8DDFF;
    color: #13005A;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-title .hellotitle {
    margin-left: 35px;
    font-size: var(--h3-font-size);
    font-weight: 600;
}

.main-title .logoutbtn a {
    color: #fff;
}

.main-title .logoutbtn {
    background-color: #537FE7;
    padding: 7px 15px 7px 15px;
    margin-right: 30px;
    font-weight: 550;
    border-radius: 5px;
}

.top {
    padding: 8px;
    margin: 15px 15px 15px 15px;
    border-radius: 5px;
    background-color: #fff;
}

.top .info .content {
    margin-left: 20px;
}

.bottom {
    background-color: #f3f8ff;
    padding: 10px;
    margin: 15px 15px 15px 15px;
    border-radius: 5px;
    min-height: 635px;
}



.searchstd {
    outline: none;
    width: 1050px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-size: var(--normal-font-size);
    padding-left: 10px;
}

.searchbtn {
    outline: none;
    border: none;
    background-color: #fff;
    padding: 7px 15px 7px 15px;
    font-size: var(--normal-font-size);
    font-weight: 500;
    border-radius: 5px;
    height: 45px;
    width: 180px;
}

.studentdetails .info p
{
    margin: 10px;
}
.studentdetails .info p span
{
    font-weight: 600;
}

.table
{
    margin-top: 15px;
    text-align: center;
}