@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Poppins:wght@400;600;700&display=swap");

.main-title {
  background: #609966;
  color: #fff;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-title .hellotitle {
  margin-left: 35px;
  font-size: var(--h3-font-size);
  font-weight: 600;
}

.main-title .logoutbtn a {
  color: black;
}

.main-title .logoutbtn {
  background-color: #edf1d6;
  padding: 7px 15px 7px 15px;
  margin-right: 30px;
  font-weight: 550;
  border-radius: 5px;
}

.bottom {
  background-color: #fdfff3;
  padding: 10px;
  margin: 10px 20px 10px 20px;
  border-radius: 5px;
  min-height: 640px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 25px 10px 0px 10px;
}

.form input:not(.submitbtn, .resetbtn) {
  color: #40513b;
}

.form
  input:not(.sem, .mess, .due, .feespaid, .feespending, .submitbtn, .resetbtn),
.form .batch,
.form .semester,
.form .branch {
  width: 300px;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid #40513b;
  padding: 2px 1px 2px 7px;
}

.form label:not(.sem, .mess, .due) {
  width: 270px;
  color: #40513b;
}

.form label.sem,
label.due,
label.mess {
  padding: 0px 25px 0px 2px;
}

.form div:not(.formtitle, .formButton) {
  margin: 7px 5px;
}

.formtitle {
  margin: 5px auto 5px auto;
  font-size: var(--h3-font-size);
  font-weight: 550;
}

.formButton {
  margin: 30px auto 5px auto;
}

.resetbtn,
.submitbtn {
  outline: none;
  border: none;
  background-color: #9dc08b;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fdfff3;
  margin: 0 10px;
}

.resetbtn:hover,
.submitbtn:hover {
  background-color: #609966;
}
